
body {
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 16px;
}

.container {
	
	max-width: 600px;
	width: 600px;
    height: 550px;
	position: relative;
}
#formLogin{
	background-color:#abd7fd ;
	width: 100%;
	padding: 28px;
	border-radius: 12px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) scale(.8);
	z-index: 100;
	transition: all .3s ease;
	transition-delay: 0s;
}

.title {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
}

#form-group {
	margin-bottom: 14px;
}
#form-group label {
	display: inline-block;
	margin-bottom: 4px;
    font-size: 18px;
}
#input-group {
	width: 100%;
	position: relative;
}
#input-group input {
	padding: 12px 40px 12px 20px;
	outline: none;
	border-radius: 6px;
	border: 1px solid var(--dark-grey);
	width: 100%;
	transition: all .3s ease;
    font-size: 16px;
	border-color: white;
}



#login-btn{
	padding: 12px 0;
	display: block;
	width: 100%;
	color: #fff;
	height: 50px;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
	font-weight: 500;
	background: var(--blue);
	margin-bottom: 20px;
}
#login-btn:hover {
	background: var(--dark-blue);
}